.bg-faded{
	/* background-color: gray !important; */
	/* background: -webkit-linear-gradient(0deg,#002868 , #00289f) !important; */
	/* background-color: gray !important; */
	/* background-color: #b7b7b7 !important; */
	/* background-color: #D0D0D0 !important; */
	background-color: #333333 !important;
}
.nav-link{
	color : white !important;
	/* color:#111 !important; */ 
	font-family: Century schoolbook;
	/* font-weight:800; */
	font-size:15px !important;
}
.politician-nav-link{
	color : white !important;
}
.nav-item{
	/* border: 1px solid white; */
}

/* Side-nav Link */
.flex-column
{
	    /* background: -webkit-linear-gradient(0deg,#03178e , #00004d)  !important; */
	    /* background: -webkit-linear-gradient(0deg,#1a1a1a , #1a1a1a)  !important; */
	    background: -ms-linear-gradient(0deg,#1a1a1a , #1a1a1a);
  background: -webkit-linear-gradient(0deg,#1a1a1a , #1a1a1a);
  background: -moz-linear-gradient(0deg,#1a1a1a , #1a1a1a);
  background: -o-linear-gradient(0deg,#1a1a1a , #1a1a1a);
}
.side-nav-item{
		font-family: Century schoolbook;
		padding:10px 5px;
		/* border: 1px solid white; */
		border: 0.5px solid #333333;
}
.side-nav-link{
	color: white  !important;
	font-size: 16px;
	text-decoration: none;
	
}

.flex-column>.active{
	
	background: none;
	background-color: #333333;
	/* background: -webkit-linear-gradient(0deg,#03178e , #00104d)  !important; */
}
.flex-column>.active>a{
	color:yellow;
}


/* Profile Page Nav bar  */
.div-nav
{
	margin-top:10px;
	margin-bottom:-10px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.nav-pills{
	background: #002868;
}

/* **************dropdown menu****************** */

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  padding: 20px 0px 20px 40px;
  font-family: century schoolbook;
  top:37px !important;
 /*  border:1px solid #134383; */
  border: 1px solid darkgray;
  border-radius: 0px;
  left:0px !important;
  right:0px !important;
  /* display:none; */
  max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 15px;
}
/* .dropdown-large:hover .dropdown-menu-large {
    display: block;
} */
.user-dropdown:hover .user-dropdown-menu {
    display: block;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
}


